@import url(https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

body {
    font-family: "Lexend Giga", sans-serif;
    background-color: #caced8;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
  
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}
  .skip-link:focus {
    top: 0;
}
  
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    margin: 0;
    background-color: #939387;
}
  
a {
    text-decoration: none;
    font-weight: bold;
    color: #e53c3f;
    background-color: #b3bab5;
    padding: 0.5rem 1rem;
    border-radius: 1px;
}
a:focus {
    outline: 3px solid #000;
    outline-offset: 2px;
}
  
header, footer {
    background-color: #a6a9a0;
    padding: 20px 10px;
    border-top: 5px solid #939387;
    border-bottom: 5px solid #939387;
}

.subheader {
    background-color: #a6a9a0;
    padding: 20px 10px;
    border-top: 5px solid #939387;
    border-bottom: 5px solid #939387;
}

h1, h2 {
    color: #833629;
    text-align: center;
    margin: 1rem 0;
}
h2 {
    color: #c5564f;
}
  
p {
    color: #e53c3f;
    text-align: left;
    font-size: 1.25rem;
    margin: 0.5rem auto;
    max-width: 90%;
    padding: 0.5rem;
}

.carousel {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    padding: 1rem;
}
.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
}
.carousel img {
    width: auto;
    height: 100px;
    object-fit: cover;
}
@keyframes scroll {
    from {transform: translateX(0) ;}
    to {transform: translateX(-101%);}
}

.paragraph-block {
    display: inline-block;
    width: 22%;
    padding: 1%;
    margin: 0.5%;
    text-shadow: 1px 1px 3px #c5564f;
}

@media (max-width: 992px) {
    .paragraph-block {
      width: 45%;
    }
}
  
@media (max-width: 768px) {
    .paragraph-block {
      width: 100%;
    }
    p {
      font-size: 1rem;
      padding: 1rem;
    }
}
  
@media (max-width: 576px) {
    .paragraph-block {
      width: 100%;
    }
    p {
      font-size: 1rem;
      padding: 1rem;
    }
}